
<div class="page-container">
<app-header></app-header>






<main class="content">
    
<div class="container">

<app-statistic></app-statistic>

<mat-tab-group>
  <mat-tab label="Csapatok"><app-teams></app-teams></mat-tab>
  <mat-tab label="Versenyzők"><app-drivers></app-drivers></mat-tab>
  <mat-tab label="Pályák"><app-circuits></app-circuits></mat-tab>
  <mat-tab label="Versenyek"><app-races></app-races></mat-tab>
  <mat-tab label="Eredmények"><app-race-results></app-race-results></mat-tab>
  <mat-tab label="Pontverseny">Pontverseny</mat-tab>
</mat-tab-group>

</div>


<router-outlet />
</main>

<app-footer></app-footer>
</div>